QUOTEX_EMAIL=omgite9970@gmail.com
QUOTEX_PASSWORD=123456789

# Trading Settings
TRADE_AMOUNT=1
TRADE_EXPIRY=2
INTERVAL=2
MIN_CONFIDENCE=55
MAX_TRADES_PER_HOUR=10
MAX_CONSECUTIVE_LOSSES=3
DAILY_LOSS_LIMIT=10
DEFAULT_ASSET=EUR/USD
